#sub-container{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  gap: 48px;
  padding-top: 50px;
  padding-bottom: 30px;
}

#sub-header{
  display: flex;
  gap: 27px;
}

#sub-header-icon{
  margin-top: 5px;
}

.news-sub-form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  h5{
    max-width: 196px;
  }
}

.news-subscription{
  display: flex;
}

#news-subscribe-field{
  display: flex;
  flex-direction: column;
  gap: 16px;
  p{
    @include text-s;
    color: $gray-600;
    a{
      text-decoration: underline;
    }
  }
}

#news-subscribe-bg{
  background-color: $gray-100;
}