.hero {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  .contact-info {
    padding-right: 50px;
  }

  .contact-form {
    display: grid;
    grid-template-rows: 1fr;
    gap: 24px;
    border-radius: 8px;
    padding: 72px;
    @include shadow-l;
    input{
      width: 100%;
      padding: 5px;
    }
    //position: relative;
    //top: 100px;
    //z-index: 1;
  }

  .section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    max-width: 450px;
    img{
      padding: 16px;
    }
    a{
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover{
        color: $secondary;
      }
    }
  }
}

#contact-bg {
  background-color: $gray-100;
}



.contact-specialist-field{
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  box-shadow: none;
  padding: 20px;
}

.contact-time{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}