.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include lg {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .contact-info {
    padding-right: 50px;
    @include lg{
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      h1{
        grid-row: 1;
      }
      h2{
        padding-bottom: 20px;
      }
      #email-us{
        grid-row: 2;
      }
      #careers{
        grid-row: 2;
      }
    }
    @include md{
      display: flex;
      flex-direction: column;
    }
  }

  .contact-form {
    display: grid;
    grid-template-rows: 1fr;
    gap: 24px;
    border-radius: 8px;
    padding: 72px;
    @include mobile{
      padding: 20px;
    }
    @include shadow-l;

    @include lg{
      margin-top: 100px;
    }
  }

  .section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    max-width: 450px;

    img {
      padding: 16px;
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {
        color: $secondary;
      }
    }
  }
}

#contact-bg {
  background-color: $gray-100;
}


.contact-specialist-field {
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  border: 1px $gray-400 solid;
  padding: 10px 5px;
  @include text-m;
}

.contact-time {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

#contact-form-date-time{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  @include sm{
    grid-template-columns: 1fr;
  }
}

#contact-form-dropdown{
  span{
    color: $danger;
  }
}