.hero{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;

  .contact-info{
    //justify-self: end;
    padding-right: 50px;
  }

  .contact-form{
    //justify-content: start;
  }

  .section{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    max-width: 450px;
  }
}

