header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .site-navigation {
    display: flex;
    align-items: center;

    #logo {
      display: flex;
      align-items: center;
      margin-right: 40px;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  .site-settings {
    div {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    img {
      display: none;
    }
  }

  @include lg {
    .site-settings {
      div {
        display: none;
      }

      img {
        display: flex;
        align-items: center;
        //padding-right: 50px;
        //margin-right: 50px;
      }
      button{
        //padding-right: 50px;
        padding: 10px;
        margin-right: 50px;
      }
    }
  }
  @include md {
    #menu{
      display: none;
    }
  }
}
