.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  #navbar-arrow {
    display: none; // hide when hamburger menu is not available
  }

  &.active {
    @include md {
      #menu {
        display: none;
      }
    }

    #mobile-menu {
      display: block;
    }
  }

  @include lg {
    #mobile-menu.active {
      display: none;
    }
  }

  .site-navigation {
    display: flex;
    align-items: center;

    #logo {
      display: flex;
      align-items: center;
      margin-right: 40px;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 30px;
      @include lg {
        gap: 20px;
      }
    }
  }

  .site-settings {
    div {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .hamburger-menu {
      display: none;
    }

    @include mobile {
      #theme-mode {
        display: none;
      }
    }
  }

  @include lg {
    .site-settings {

      #sign-in-button {
        display: none;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .hamburger-menu {
        display: block;
        background-color: transparent;
      }

      .mobile-menu {
        padding: 3px;
        border-radius: 50%;
        height: 40px;
      }
    }
  }
  @include md {
    #menu {
      display: none;
    }
  }
}

#mobile-menu {
  @include lg {
    display: none;
  }
  @include xl {
    display: none;
  }
  @include xxl {
    display: none;
  }
  @include test {
    display: none;
  }
  @include md {
    #mobile-site-settings {
      display: flex; // TODO??
    }
    display: grid;
    background-color: $gray-200;
    border-radius: 10px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    //padding-top: 20px;
    gap: 20px;

    .mobile-item {
      //background-color: $primary;
      @include shadow-primary;
      height: 100px;
      width: 100px;
      //border-radius: 50%;
      border-radius: 20px;
      position: relative;
      &.active{
        background-color: #170442;
      }
      .nav-link {
        color: $white;
        display: grid;
        place-items: center;
        gap: 5px;
        transform: translateY(50%);
        i{
          font-size: 2rem;
          font-weight: 300;
        }


        #mobile-sun{
          color: yellow;
          text-shadow: 0px 0px 20px yellow;
        }
        #mobile-moon{
          color: #c8faff;
          text-shadow: 0px 0px 20px #b5d4da;
        }
      }
    }
  }
}

