.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  #navbar-arrow {
    display: none; // hide when hamburger menu is not available
  }

  &.active {
    @include md {
      #menu {
        display: none;
      }
    }

    .hamburger-menu {
      //background-color: red;
      display: none;
    }

    #arrow {
      display: block;
      background-color: #8B5CF6;
    }

    #navbar-arrow {
      display: block;
      background-color: red;
    }

    #mobile-menu {
      display: block;
    }
  }

  @include lg {
    #mobile-menu.active {
      display: none;
    }

  }

  .site-navigation {
    display: flex;
    align-items: center;

    #logo {
      display: flex;
      align-items: center;
      margin-right: 40px;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  .site-settings {
    div {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    //img {
    //  display: none;
    //}

    .hamburger-menu {
      display: none;
    }
  }

  @include lg {
    .site-settings {
      div {
        display: none;
      }

      img {
        display: flex;
        align-items: center;
        //padding-right: 50px;
        //margin-right: 50px;
      }

      .hamburger-menu {
        display: block;
      }

      button {
        //padding-right: 50px;
        padding: 10px;
        margin-right: 50px;
        transition: 0.6s ease-in;
      }
    }
  }
  @include md {
    #menu {
      display: none;
    }
  }
}

#mobile-menu {
  @include lg {
    display: none;
  }
  @include xl {
    display: none;
  }
  @include xxl {
    display: none;
  }
  @include test {
    display: none;
  }
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;

    #arrow {
      place-self: end;
    }
    padding: 20px;
    gap: 20px;
    border-radius: 8px;

    .mobile-item {
      * {
        background-color: $gray-100;
        padding: 20px;
        border-radius: 10px;
        display: grid;
        place-items: center;
      }
    }
  }
}

