button {
  //background: none;
  border: none;
  transition: ease-in 0.3s;
}

button:hover{
  border: 1px solid black;
}

.arrow-button{
  border-radius: 50%;
}

.store-buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 52px;
}