input {
  border: 1px solid $gray-400;
  border-radius: 5px;
  padding-left: 30px;
  @include text-m;
  color: $gray-700;

  &:focus {
    outline: none;
  }
}

.form-input{
  display: flex;
  flex-direction: column;
  input{
    height: 52px;
    padding-left: 16px;
    &.valid-input{
      border: 1px solid $success;
    }
    &.invalid-input{
      border: 1px solid $danger;
    }
  }
}

.form-text-label{
  color: $gray-900;
}


.contact-text-field{
  padding-left: 10px;
}

.contact-time-field{
  padding: 5px;
}

#sub-right {
  display: flex;
  div {
    display: flex;
    //flex: 1;  //TODO this messes with my modal

    input {
      width: 100%;
    }
  }
}

.subscriber-form {
  position: relative;
  display: flex;

  input{
    border-radius: 4px 0 0 4px;
  }
}

.subscriber-form .icon {
  position: absolute;
  left: 5px; // Adjust as needed for desired spacing
  top: 50%;
  transform: translateY(-50%);
}

@include sm{
  .subscriber-form{
    input{
      display: grid;
      place-items: center;
    }
  }
}

@include mobile{
  .subscriber-form{
    height: auto;
    input{
      width: 80%;
    }
  }
}