input {
  border: 1px solid $gray-400;
  border-radius: 5px;
  padding-left: 30px;
  @include text-m;
  color: $gray-700;

  &:focus {
    outline: none;
  }
}

.form-input{
  display: flex;
  flex-direction: column;
  input{
    height: 52px;
    padding-left: 16px;
  }
}

.form-text-label{
  color: $gray-900;
}


.contact-text-field{
  padding-left: 10px;
}

.contact-time-field{
  padding: 5px;
}

.sub-right {
  div {
    display: flex;
    input {
      //width: 100%;  //TODO
    }
  }
}

.subscriber-form {
  position: relative;
  display: flex;

  input{
    border-radius: 4px 0 0 4px;
    position: relative;
  }
}

.subscriber-form .icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

@include sm{
  .subscriber-form{
    input{
      display: grid;
      place-items: center;
    }
  }
}

@include mobile{
  .subscriber-form{
    height: auto;
    input{
      width: 80%;
    }
  }
}

@mixin form-l{
  height: 52px;
}

.error-message-span{
  color: $danger;
  background-color: #fde8e8;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 2px;
  width: fit-content;
}
