a, .nav-link, Link{
  text-decoration: none;
  transition: ease-in 0.2s;
  &:hover{
    cursor: pointer;
  }
}

.nav-link {
  &:hover {
    color: #4C82F7;
  }
}

.Link{
  color: $gray-100;
  &:hover{
    color: $primary;
  }
}