/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.wrapper {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
}

h1 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 40px;
}

h2 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
}

h3 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 28px;
}

h4 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
}

h5 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

h6 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.d1 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 80px;
}

.d2 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 72px;
}

.d3 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 64px;
}

.d4 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 56px !important;
}

.d5 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
}

.d6 {
  line-height: 130%;
  font-weight: 800;
  color: #0B0F19;
  font-family: "Manrope", sans-serif;
  font-size: 42px;
}

.nav-link {
  text-decoration: none;
  transition: ease-in 0.2s;
}
.nav-link:hover {
  color: #4C82F7;
}

button {
  border: none;
  transition: ease-in 0.3s;
}

button:hover {
  border: 1px solid black;
}

.arrow-button {
  border-radius: 50%;
}

.store-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 52px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
header .container .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
header .container .left #logo {
  display: flex;
  align-items: center;
}
header .container .left .menu-links {
  display: flex;
  gap: 20px;
}

#showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#showcase #left-side {
  display: grid;
  justify-content: center;
  padding-left: 50px;
}
#showcase #left-first {
  display: grid;
  grid-template-rows: auto auto auto;
}
#showcase #left-second {
  display: flex;
}
#showcase #next-btn {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

#brand-logos {
  display: flex;
  justify-content: center;
}
#brand-logos img {
  margin: 10px;
  padding: 20px;
  border: 1px solid #E2E5F1;
  border-radius: 5px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  justify-content: center;
  margin: 50px 100px;
}
#container #feature-grid {
  display: grid;
  grid-template-rows: auto auto;
}
#container #feature-grid #grid-left {
  display: grid;
}
#container #feature-grid #grid-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#container #feature-grid #grid-right div div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

#slider-container {
  display: grid;
  place-items: center;
}
#slider-container #pictures {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 75px;
}

#testimonials {
  display: grid;
  grid-template-columns: auto 1fr;
}

#card {
  display: flex;
}

.testimonial-card {
  border: 1px solid black;
  display: grid;
  grid-template-rows: auto auto auto;
}

#features-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 50px 200px;
  border: 1px solid black;
}
.subscriber {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscriber #sub-left {
  display: flex;
  align-items: center;
  max-width: 600px;
}
.subscriber #sub-right {
  display: flex;
}

#light-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#light-footer #footer-links {
  display: flex;
  gap: 10px;
}

#footer-dark {
  background-color: #0B0F19;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 200px;
  gap: 50px;
}
#footer-dark #footer-subscribe {
  display: flex;
}
#footer-dark #site-links {
  display: grid;
  gap: 20px;
}
#footer-dark #footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 150px;
}
.hero .contact-info {
  justify-self: end;
  padding-right: 50px;
}
.hero .contact-form {
  justify-content: start;
  border: 1px solid black;
}
.hero .section {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  max-width: 450px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.container #map {
  width: 400px;
  height: 400px;
  background-color: red;
}
.container ul li {
  display: flex;
}

.brand-footer-logos ul {
  display: flex;
  gap: 20px;
}
.brand-footer-logos ul li img {
  height: 20px;
}

/*# sourceMappingURL=main.css.map */
