#faq-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;

  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .faq-card {
      @include text-s;
      color: $gray-700;
      border: 1px solid $gray-400;
      border-radius: 8px;
      display: grid;
      gap: 10px;
      padding: 20px;
      transition: ease-in 0.2s;

      a {
        span {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
        @include shadow-s;
      }


      #call {
        color: $primary;
      }

      #chat {
        color: $success;
      }
    }
  }
}