#features-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 100px 50px;
  @include md{
    padding: 0px;
  }

  #features-first {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    ul{
      li{
        padding: 3px 0;
        display: flex;
        gap: 10px;
      }
    }
  }


  #features-fourth {
    #test-lol{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 50px 0;
      img{
        height: 28px;
        width: 28px;
        padding-left: 5px;
        padding-bottom: 10px;
      }
    }
  }
}

@include xl{
  .feature-card{
    height: auto;
    width: 100%;
  }
}

@include lg{
  #features-container{
    grid-template-columns: 1fr;
    .feature-card{
      max-width: 90%;
    }
    #top-card{
      grid-row:1;
    }
  }
}