.subscriber {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 72px 110px;
  @include sm {
    padding: 20px 10px;
    gap: 20px;
  }
  @include md {
    padding: 20px 10px;
    gap: 20px;
  }
  background-color: $gray-300;
  border-radius: 15px;

  #sub-left {
    display: flex;
    flex: 1;
    gap: 20px;
    align-items: center;
    max-width: 750px;
  }
}

@include lg {
  .subscriber {
    display: grid;
    text-align: center;
  }
}
.testing{
  display: grid;
  place-items: center;
}