#features-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 50px 200px;
  border: 1px solid black;

  #features-first{

  }

  #features-second{

    }

  #features-third {

  }

  #features-fourth{

  }
}