#footer-dark {
  background-color: $gray-900;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 1200px;
  margin: 20px auto;
  padding-top: 20px; //oklart
  padding-bottom: 20px; //oklart

  div {

    #footer-text {
      max-width: 80%;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  #footer-subscribe {
    display: flex;
    //padding-bottom: 10px;

    #dark-copyright {
      @include text-xs;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .site-links {
    display: grid;
    gap: 20px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  #footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #footer-contact {
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    color: $gray-100;
  }

  h6 {
    padding-top: 40px;
    @include text-s;
    color: $gray-100;
  }

  input {
    border-radius: 5px 0 0 5px;
    background-color: $gray-900;
    border: 1px rgba(255, 255, 255, 0.18) solid;
  }
}