header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .site-navigation {
    display: flex;
    align-items: center;

    #logo{
      display: flex;
      align-items: center;
      margin-right: 40px;
    }

    nav{
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  .site-settings {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
