.accordion {
  margin: 10px;
  padding: 10px;
  background-color: $gray-300;
  border-radius: 8px;
  .accordion-item {
    display: grid;
    grid-template-rows: auto;

    .accordion-title {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
    }
  }
}