#app-features {
  display: grid;
  grid-template-columns: auto 1fr;
  img {
    padding-right: 100px;
  }

  #feature-grid {
    display: grid;
    grid-template-rows: auto 1fr;

    #right-top {
      h2 {
        padding-bottom: 10px;
      }

      padding-bottom: 25px;
    }


    #right-bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .feature-grid-test {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 24px;

        .feature-icon {
          height: 28px;
          width: 28px;
          padding: 10px;
          border-radius: 8px;
          background-color: rgba(99, 102, 241, 0.12);
        }

        h5 {
          padding-bottom: 5px;
        }
      }
    }
  }

  @include xl {
    img {
      padding-right: 50px;
    }
  }

}
@include lg {
  #app-features {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    #right-top{
      h2{
        text-align: center;
        padding-top: 20px;
      }
      p{
        text-align: center;
      }
    }
  }
}
@include md{
  //img{
  //  display: none;
  //}
  .feature-grid-test{
    padding: 15px;
  }
}

#test-lol{
  background:linear-gradient(to bottom, $gray-200, $gray-300);
  box-shadow: 0 1px 2px rgba(196, 196, 196, 0.7);
}