#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  justify-content: center;
  margin: 50px 100px;

  #feature-grid{
    display: grid;
    grid-template-rows: auto auto;

    #grid-left{
      display: grid;
    }

    #grid-right{
      display: grid;
      grid-template-columns: 1fr 1fr;

      div{

        div{
          display: grid;
          grid-template-columns: auto auto;
          gap: 20px;
        }
      }
    }
  }

}