#brand-logos {
  display: flex;
  width: 100%;
  gap: 24px;
  margin: 50px 0;

  img {
    max-width: 196px;
    width: 100%;
    padding: 20px;
    border: 1px solid $gray-300;
    border-radius: 5px;
  }
}
