#showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 50px;

  #left-side {
    display: grid;
    max-width: 70%;
    place-items: start;

    #left-first {
      display: grid;
      place-items: start;
      margin-top: 25px;
      gap: 35px;
    }
  }

  #right-side {
    display: grid;
    place-items: end;
  }
}