#slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  gap: 60px;

  #pictures {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  #slider-bottom {
    display: grid;
    place-items: center;
    text-align: center;
  }

  @include xl {
    #pictures {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
  @include md {
    .outer{
      display: none;
    }
  }
}