#slider-container{
  display: grid;
  place-items: center;
  width: 100%;
  #pictures{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    gap: 75px;

    #left-button{
      transform: rotate(90deg);
    }
    #right-button{
      transform: rotate(-90deg);
    }
  }
  #slider-bottom{
    max-width: 50%;
    h4{
      text-align: center;
      padding-bottom: 10px;
    }
    p{
      text-align: center;
    }
  }
}