.subscriber{
  display: flex;
  justify-content: center;
  align-items: center;

  #sub-left{
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 600px;
  }

  #sub-right{
    display: flex;
  }
}